/* =====TRENDS===== */

.page__trends {
  text-align: center;
  margin-top: 63px;
}

.trends-wrapper {
  display: flex;
  text-align: left;
  margin-top: 28px;
  gap: 4px;
}

.trend {
  height: 320px;
  width: 25%;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}

.trend:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.trend-first {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-second {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-third {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-fourth {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.description {
  width: 100%;
  border: 3px #b59f5b solid;
  margin-left: 18px;
  margin-bottom: 16px;
  margin-right: 21px;
  padding: 42px 44px 35px 35px;
}

.trend__tags-cloud-list {
  list-style-type: none;
  color: #b59f5b;
  display: flex;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
}

.trend__tags-item {
  margin-right: 20px;
}

.trend__tags-item-link {
  color: #b59f5b;
}

.trend__tags-item-link:hover {
  text-decoration: underline;
}

.trend__title {
  color: #ffffff;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  margin-top: 11px;
}

.trend__title-link {
  color: #ffffff;
}

.trend__title-link:hover {
  color: #b59f5b;
}

/* =====OUR PRODUCTS===== */

.page__our-products {
  text-align: center;
}

.our-products-wrapper {
  display: flex;
  text-align: left;
  margin-top: 28px;
  justify-content: space-between;
}

.product {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  position: relative;
  top: 32px;
  height: 204px;
  object-fit: cover;
}

.product__card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 58px 23px 29px;
  max-width: 347px;
  height: 100%;

  outline: 3px solid #b59f5b;
  z-index: 1;
}

.product__title {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
}

.product__description {
  margin-top: 0.5rem;
  font-size: 15px;
}

.product__description-link {
  color: #b59f5b;
}

.product__description-link:hover {
  text-decoration: underline;
}

.product__prices-description {
  width: 100%;
  display: flex;
  margin-top: 21.5px;
  justify-content: space-between;
}

.product__prices {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
}

.actual-price {
  font-size: 20px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
}

.btn-shop {
  width: 140px;
  height: 48px;

  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;

  border: none;
  background-color: #b59f5b;
  color: #ffffff;
}

.btn-shop:hover {
  background-color: #323232;
  cursor: pointer
}

/*=====POPUP=====*/

.popup-holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
}

.popup-holder::after {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 390px;
  background-color: #ffffff;
  z-index: 20;
  padding: 54px 31px;
}

.popup__btn-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -26px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.popup__title-wrap {
  display: flex;
  justify-content: center;
}

.popup-title {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  position: relative;
  margin-top: -3px;
}

.popup-title::after {
  content: '';
  position: relative;
  background: #e1d9bd;
  height: 3px;
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.popup__form {
  font-size: 13px;
}

.popup__form-questions {
  margin-top: 31px;
}

.popup__form-list {
  margin-top: 9px;
}

.popup__form-select {
  width: 328px;
  height: 48px;
  padding-left: 19px;
  border: none;
  background: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 8px;

  cursor: pointer;
}

.popup__form-select:focus {
  outline: 2px solid #b59f5b;
}

.popup__radio-mailing-list {
  display: flex;
  gap: 16px;
}

.popup__radio {
  position: absolute;
  display: none;
}

.popup__radio:checked ~ .popup__radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup__radio-group-text {
  font-size: 13px;
  font-family: opensans-regular, sans-serif;
}

.popup__radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;

  width: 15px;
  height: 15px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.popup__form-wishes {
  width: 100%;
  height: 131px;
  resize: none;

  margin-top: 12px;
  padding: 20px 20px;
  background: #f4f7f6;
  border: none;

  font-size: 13px;
  font-family: opensans-regular, sans-serif;
}

.popup__form-wishes:focus {
  outline: 2px solid #b59f5b;
}

.popup__btn-subscribe {
  width: 100%;
  height: 48px;
  margin-top: 23px;

  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;

  background-color: #f4f7f6;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
}

.popup__btn-subscribe:hover {
  background-color: #323232;
  cursor: pointer
}