@media (min-width: 360px) and (max-width: 767px) {
/* =====MAIN===== */




/* =====HEADER===== */

.header-wrapper {
    padding: 32px 15px 215px;
}

.header-title {
    font-size: 1.625rem;
}

.menu__list {
    display: none;
}

    .menu__mini {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .menu__burger {
        width: 1.4em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }

    .menu__burger:before {
        top: 0;
    }

    .menu__burger:after {
        bottom: 0;
    }

    .menu__burger:before,
    .menu__burger:after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .menu__burger-label {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .menu__logo {
        margin-top: 193px;
        width: 269px;
    }

    .menu__logo-link {
        margin: auto;
    }

    .header-title {
        margin-top: 42px;
    }

    .trends-wrapper {
        flex-wrap: wrap;
    }

    .trend {
        height: 230px;
        width: 100vw;
    }
}
