/* =====MAIN===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  font-family: opensans-regular, sans-serif;
}

.indented-paragraph {
  margin-top: 1em;
}

@font-face {
  font-family: "opensans-regular";
  src: url(../fonts/OpenSans-Regular.ttf) format("ttf"),
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "opensans-bold";
  src: url(../fonts/OpenSans-Bold.ttf) format("ttf"),
    url(../fonts/OpenSans-Bold.woff) format("woff"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =====HEADER===== */
.header {
  position: relative;
  z-index: 0;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  text-transform: uppercase;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: #000000;
  opacity: 0.6;
}

.header-wrapper {
  padding: 29px 15px 125px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  font-family: opensans-regular, sans-serif;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  width: 179px;
}

.menu__list {
  list-style-type: none;
  display: flex;
  font-size: 13px;
}

.menu__item {
  margin-left: 35px;
}

.menu__link {
  color: #ffffff;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__mini {
  display: none;
}

.header-title {
  max-width: 687px;
  font-family: opensans-bold, sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 101px auto 0;
  font-size: 45px;
  line-height: 1.67;
}

/* =====PAGE===== */

.page-general {
  display: flex;
  margin: auto;
}

.section__title-general {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  position: relative;
  /*Попытка нивелировать margin-block-start:0;, других способов не нашел. Подскажите решение лучше. Спасибо.*/
  margin-top: -3px;
}

.section__title-general::after {
  content: '';
  position: relative;
  background: #e1d9bd;
  height: 3px;
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 64px 15px;
  max-width: 1200px;

  font-family: opensans-regular, sans-serif;
}

.news__list {
  display: flex;
  max-width: 778px;
  flex-direction: column;
}

.news {
  display: flex;
  margin-bottom: 60px;
}

.news__pic {
  width: 381px;
  max-height: 294px;
  object-fit: cover;
}

.news_frame {
  margin-left: 30px;
  width: 367px;
}

.news__tags-list {
  list-style-type: none;
  color: #b59f5b;
  display: flex;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  flex-wrap: wrap;
}

.news__tags-item {
  margin-right: 18px;
}

.news__tags-item:hover {
  text-decoration: underline;
}

.news__tags-link {
  color: inherit;
}

.news__title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
  line-height: 1.2;
  font-family: opensans-bold, sans-serif;
}

.news__title-link {
  color: inherit;
}

.news__title-link:hover {
  color: #b59f5b;
}

.publication__meta {
  font-size: 12px;
  margin-top: 28px;
  display: flex;
}

.publication__date {
  color: #888888;
}

.publication__author {
  text-decoration: inherit;
  font-family: opensans-bold, sans-serif;
  margin-left: 13px;
}

.news__text {
  display: block;
  box-sizing: border-box;
  margin-top: 45px;
  font-size: 15px;
  line-height: 1.47;
}

/* =====ASIDE===== */

.sidebar {
  width: 297px;
  margin-left: 121px;
}

.new__posts {
  text-align: center;
}

.sidebar__title-general {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  position: relative;
  /*Попытка нивелировать margin-block-start:0;, других способов не нашел. Подскажите решение лучше. Спасибо.*/
  margin-top: -3px;
}

.sidebar__title-general::after {
  content: '';
  position: relative;
  background: #e1d9bd;
  height: 3px;
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.new__posts-content {
  display: flex;
  text-align: left;
  margin-top: 28px;
}

.new__posts-image {
  width: 70px;
  max-height: 70px;
  object-fit: cover;
  display: block;
}

.new__posts-text {
  margin-left: 19.5px;
  display: flex;
  flex-direction: column;
}

.new__posts-meta {
  font-size: 12px;
  font-family: opensans-regular, sans-serif;
  color: #000000;
  opacity: 0.54;
}

.new__posts-publication-title {
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
}

.new__posts-publication-title:hover {
  color: #b59f5b;
}

.new__posts-publication-title-link {
  color: inherit;
}

/* =====SEARCH===== */

.search-wrap {
  display: flex;
  margin-top: 60px;

}

.search {
  width: 223px;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 5px;
  border: none;

  background-color: #f4f7f6;
  font-size: 13px;
}

.search:focus {
  outline-color: #b59f5b;
  outline-width: 1px;
  outline-offset: -2px;
  outline-style: solid;
}

.button-search {
  width: 48px;
  border: none;

  background-color: #b59f5b;
}

.button-search-icon {
  width: 18px;
}

.button-search:hover {
  background-color: #323232;
}

/* =====MAILING===== */

.mailing-list {
  text-align: center;
  margin-top: 62px;
}

.e-mail {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 20px;
  border: none;
  margin-top: 23px;

  background-color: #f4f7f6;
  font-size: 13px;
}

.e-mail:focus {
  outline-color: #b59f5b;
  outline-width: 1px;
  outline-offset: -1px;
  outline-style: solid;
}

.mailing-button__subscription {
  width: 100%;
  height: 48px;
  margin-top: 23px;

  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;

  background-color: #f4f7f6;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
}

.mailing-button__subscription:hover {
  background-color: #323232;
  cursor: pointer
}

/* =====TAGS===== */

.tags-cloud {
  margin-top: 61px;
  text-align: center;
}

.tags-cloud__tags {
  font-family: opensans-bold, sans-serif;
  margin-top: 24px;

}

.tags-cloud__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 5px;
}

.tags-cloud__item {
  font-size: 12px;
}

.tags-cloud__item-link {
  border: 3px solid #eeeeee;
  color: #0f0d0e;
  padding: 8px 13px;
  align-items: center;
  display: block;
}

.tags-cloud__item-link:hover {
  border: 3px solid #b59f5b;
}

/* =====TOPICS===== */

.topics-cloud {
  margin-top: 61px;
  text-align: center;
}

.topics-cloud__topic {
  font-family: opensans-bold, sans-serif;
  margin-top: 24px;
  text-align: left;

}

.topics-cloud__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 3.29;
}

.topics-cloud__item {
  font-size: 14px;
}

.topics-cloud__item-link {
  border-bottom: 1px solid #eeeeee;
  color: #0f0d0e;
  padding-left: 2px;
  display: block;
}

.topics-cloud__item-link:hover {
  color: #b59f5b;
}

.topics-cloud__item-link-sup {
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}

/* =====FOOTER===== */

.footer-wrap {
  padding-right:15px;
  padding-left:15px;
  padding-bottom:42px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  height: 83px;
  width: 100%;
  display: flex;
  background-color: #f4f7f6;
  justify-content: center;
}

.socials-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  width: 20px;
  height: 20px;
}

.copyright {
  display: block;
  margin-top: 74px;
  font-size: 12px;
  color: #999999;
  font-family: opensans-regular, sans-serif;
}

/* =====TRENDS===== */

.page__trends {
  text-align: center;
  margin-top: 63px;
}

.trends-wrapper {
  display: flex;
  text-align: left;
  margin-top: 28px;
  gap: 4px;
}

.trend {
  height: 320px;
  width: 25%;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}

.trend:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.trend-first {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-second {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-third {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.trend-fourth {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
}

.description {
  width: 100%;
  border: 3px #b59f5b solid;
  margin-left: 18px;
  margin-bottom: 16px;
  margin-right: 21px;
  padding: 42px 44px 35px 35px;
}

.trend__tags-cloud-list {
  list-style-type: none;
  color: #b59f5b;
  display: flex;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
}

.trend__tags-item {
  margin-right: 20px;
}

.trend__tags-item-link {
  color: #b59f5b;
}

.trend__tags-item-link:hover {
  text-decoration: underline;
}

.trend__title {
  color: #ffffff;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  margin-top: 11px;
}

.trend__title-link {
  color: #ffffff;
}

.trend__title-link:hover {
  color: #b59f5b;
}

/* =====OUR PRODUCTS===== */

.page__our-products {
  text-align: center;
  max-width: 1200px;
}

.our-products-wrapper {
  display: flex;
  text-align: left;
  margin-top: 28px;
  justify-content: space-between;
}

.product {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  position: relative;
  top: 32px;
  height: 204px;
  object-fit: cover;
}

.product__card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 58px 23px 29px;
  max-width: 347px;
  height: 100%;

  outline: 3px solid #b59f5b;
  z-index: 1;
}

.product__title {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
}

.product__description {
  margin-top: 0.5rem;
  font-size: 15px;
}

.product__description-link {
  color: #b59f5b;
}

.product__description-link:hover {
  text-decoration: underline;
}

.product__prices-description {
  width: 100%;
  display: flex;
  margin-top: 21.5px;
  justify-content: space-between;
}

.product__prices {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
}

.actual-price {
  font-size: 20px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
}

.btn-shop {
  width: 140px;
  height: 48px;

  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;

  border: none;
  background-color: #b59f5b;
  color: #ffffff;
}

.btn-shop:hover {
  background-color: #323232;
  cursor: pointer
}

/*=====POPUP=====*/

.popup-holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
}

.popup-holder::after {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 390px;
  background-color: #ffffff;
  z-index: 20;
  padding: 54px 31px;
}

.popup__btn-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -26px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.popup__title-wrap {
  display: flex;
  justify-content: center;
}

.popup-title {
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  position: relative;
  margin-top: -3px;
}

.popup-title::after {
  content: '';
  position: relative;
  background: #e1d9bd;
  height: 3px;
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.popup__form {
  font-size: 13px;
}

.popup__form-questions {
  margin-top: 31px;
}

.popup__form-list {
  margin-top: 9px;
}

.popup__form-select {
  width: 328px;
  height: 48px;
  padding-left: 19px;
  border: none;
  background: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 8px;

  cursor: pointer;
}

.popup__form-select:focus {
  outline: 2px solid #b59f5b;
}

.popup__radio-mailing-list {
  display: flex;
  gap: 16px;
}

.popup__radio {
  position: absolute;
  display: none;
}

.popup__radio:checked ~ .popup__radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup__radio-group-text {
  font-size: 13px;
  font-family: opensans-regular, sans-serif;
}

.popup__radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;

  width: 15px;
  height: 15px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.popup__form-wishes {
  width: 100%;
  height: 131px;
  resize: none;

  margin-top: 12px;
  padding: 20px 20px;
  background: #f4f7f6;
  border: none;

  font-size: 13px;
  font-family: opensans-regular, sans-serif;
}

.popup__form-wishes:focus {
  outline: 2px solid #b59f5b;
}

.popup__btn-subscribe {
  width: 100%;
  height: 48px;
  margin-top: 23px;

  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold, sans-serif;

  background-color: #f4f7f6;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
}

.popup__btn-subscribe:hover {
  background-color: #323232;
  cursor: pointer
}